version: "3.9"

services:
  backend:
    build: ./backend
    container_name: task-backend
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: task-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: task_tracker
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
