version: "1.1"

services:
  backend:
    build: ./backend
    container_name: task-backend
    ports:
      - "5001:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: task-frontend
    ports:
      - "3000:80"
    environment:
      - VITE_API_BASE_URL=http://localhost:5001
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: task-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: task_tracker
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
